/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

h2{
  margin-left: 20px;
}

p{
  margin: 10px 0 10px;
}

.row{
  margin: 15px 0 15px 20px;
}

.product-wrapper p{
  display: inline-block;
}

.product-wrapper button{
  float: right;
}